In [1]:
print("HOPE AI")

HOPE AI

In [19]:
name=input("Enter your institute name? :")
print(f"Enter your institute name? :{name}")

Enter your institute name? : HOPE AI

Enter your institute name? :HOPE AI

In [18]:
name=input("Enter your name:")
age=input("Enter your age:")
sch_nam=input("Enter your school name:")
degree=input("Enter your degree:")
print(f"Enter your name:{name}\nEnter your age:{age}\nEnter your school name:{sch_nam}\nEnter your degree:{degree}")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

Enter your name:Raj
Enter your age:15
Enter your school name:Guru school
Enter your degree:B.E CSE

In [11]:
num1=43
num2=34
add=num1+num2
print(f"a= {num1}\nb= {num2}\nadd = {add}")

a= 43
b= 34
add = 77

In [9]:
num1=43
num2=34
sub=num1-num2
print(f"a= {num1}\nb= {num2}\nsub = {sub}")

a= 43
b= 34
sub = 9

In [12]:
num1=63
num2=97
Mul=num1*num2
print(f"a= {num1}\nb= {num2}\nMul = {Mul}")

a= 63
b= 97
Mul = 6111

In [14]:
num1=76
num2=31
Float_Div=num1/num2
print(f"a= {num1}\nb= {num2}\nFloat Div = {Float_Div}")

a= 76
b= 31
Float Div = 2.4516129032258065

In [15]:
num1=76
num2=31
Floor_Div=num1//num2
print(f"a= {num1}\nb= {num2}\nFloor Div = {Floor_Div}")

a= 76
b= 31
Floor Div = 2

In [16]:
num1=76
num2=31
Modulo=num1%num2
print(f"a= {num1}\nb= {num2}\nModulo = {Modulo}")

a= 76
b= 31
Modulo = 14

In [17]:
num1=4
num2=4
Power=num1**num2
print(f"a= {num1}\nb= {num2}\nPower = {Power}")

a= 4
b= 4
Power = 256